[Unit]
Description=Foxy battery daemon
Documentation=file:/opt/batteryd/batteryd.py
After=foxy-hat-enable.service
Requires=foxy-hat-enable.service

[Service]
Type=simple

User=foxyhw
Group=foxyhw
UMask=0117

ExecStart=/usr/bin/python3 /opt/batteryd/batteryd.py
Restart=always
RestartSec=2
RuntimeDirectory=batteryd
RuntimeDirectoryMode=0755
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
