[Unit]
Description=Foxy battery monitor
Documentation=file:/opt/foxy-drivers/battery_monitor.py
After=foxy-hat-enable.service
Requires=foxy-hat-enable.service

[Service]
Type=simple
User=foxyhw
Group=foxyhw
SupplementaryGroups=foxypower
ExecStart=/usr/bin/python3 /opt/foxy-drivers/battery_monitor.py
Restart=always
RestartSec=2
RuntimeDirectory=foxy-battery-monitor
RuntimeDirectoryMode=0755
Environment="BATTERYD_POWEROFF_COMMAND=/usr/bin/sudo -n /usr/bin/systemctl start foxy-poweroff.service"

[Install]
WantedBy=multi-user.target
