[Unit]
Description=Foxy immediate robot poweroff
Documentation=file:/opt/foxy-drivers/battery_monitor.py
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/bin/systemctl --no-wall poweroff
